appdirs==1.4.3
atomicwrites==1.1.5
certifi==2017.4.17
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.4.1
future==0.16.0
hatch==0.17.0
idna==2.5
git+git://github.com/hyzyla/instabot.py@master#egg=instabotpy
mws==0.7.3
pexpect==4.2.1
pkginfo==1.4.1
ptyprocess==0.5.2
py==1.4.34
PyInstaller==3.2.1
pypiwin32==219
PyQt5==5.9
pytest==3.2.2
requests==2.18.1
requests-toolbelt==0.8.0
semver==2.7.8
sip==4.19.3
tqdm==4.17.1
twine==1.9.1
urllib3==1.26.5
virtualenv==15.1.0
